<h1>Listing tasks</h1>
<p id="notice"><%= notice %></p>


<%= form_tag '/tasks/' do %>
  <%= text_field :task, :title %>
  <%= submit_tag "Add Task"%>
<% end %>

<%= render 'share/tasks', tasks: @tasks %>

<br>

<%= link_to 'New Task', new_task_path %>


